div {
  width: 600px;
  font-weight: 500;
  border: 1px solid grey;
  padding: 20px;
}
#sodas {
  color: #ee3e80;
  font-family: arial;
  font-size: 30pt;
  font-weight: bold;
  margin: 10px;
  text-indent: -8px;
}
.Potager {
  font-family: Calibri;
  font-size: 14pt;
}
#Potager {
  font-style: italic;
}
#sodinimas {
  color: #ee3e80;
  font-family: arial;
  font-size: 25pt;
  font-weight: bold;
  margin: 10px;
  text-indent: -8px;
}
.sodinukas {
  font-family: Calibri;
  font-size: 14pt;
  font-weight: 100;
}
